html,
:host {
  /*  option page   */
  --gpts-primary-color: rgb(55, 113, 224);
  --gpts-primary-text-color: rgba(var(--gpts-fg-rgb), 0.8);
  --gpts-secondary-text-color: rgba(0, 0, 0, 0.4);
  --gpts-html-bg-color: rgb(240, 242, 245);
  --gpts-option-box-bg-color: #f9fafc;
  --gpts-option-card-bg-color: white;
  --gpts-option-card-border: 1px solid #f0f0f0;
  --gpts-border-radius-lg: 12px;
  --gpts-border-radius: 8px;
  --gpts-option-dorpbox-bg-color: rgb(235, 236, 240);
  --gpts-option-template-group-header-bg-color: #fafafa;
  --gpts-option-template-group-item-visible-bg-color: white;
  --gpts-option-template-group-item-invisible-bg-color: rgba(255, 255, 255, 0.6);
  --gpts-attention-bg-color: #f4fbf9;
  --gpts-attention-title-color: #2b6e62;
  /*  sidebar   */
  --gpts-sidebar-bg-color: white;
  --gpts-sidebar-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  --gpts-sidebar-footer-bg-color: #f8f8f8;
  --gpts-sidebar-border-color: #ececec;
  --gpts-sidebar-footer-btn-bg-color: white;
  --gpts-sidebar-footer-btn-color: #858585;
  --gpts-sidebar-model-btn-bg-color: #f7f7f8;
  --gpts-sidebar-model-btn-color: rgba(var(--gpts-fg-rgb), 0.45);
  --gpts-sidebar-model-btn-hover-bg-color: #ededed;
  --gpts-sidebar-modal-btn-bg-color: #f7f7f8;
  --gpts-sidebar-icon-bg-color: #f8f8f8;
  --gpts-sidebar-icon-hover-bg-color: #3771e0;
  --gpts-sidebar-icon-border-color: #ececee;
  --gpts-sidebar-scrollbar-color: #e1e1e1;
  --gpts-sidebar-scrollbar-hover-color: #d9d9d9;
  --gpts-paste-btn-bg-color: #cbcbcb;
  --gpts-paste-btn-color: white;
  --gpts-tab-switch-color: rgba(0, 0, 0, 0.4);
  --gpts-tab-switch-indicator-ask-bg-color: rgba(55, 113, 224, 0.1);
  --gpts-tab-switch-indicator-chat-bg-color: rgba(237, 231, 246, 1);
  --gpts-sidebar-vip-card-bg-color: #f6f4fa; 

  /*  search   */
  --gpts-search-bg-color: white;
  --gpts-search-border-color: #dadce1;
  --gpts-list-answer-color: #4d5156;

  /*  markdown   */
  --gpts-markdown-code-btn-bg-color: #f6f8fa;
  --gpts-markdown-code-btn-border-color: rgba(27, 31, 36, 0.15);
  --gpts-markdown-code-btn-hover-bg-color: #f3f4f6;
  --gpts-markdown-code-btn-hover-border-color: rgba(27, 31, 36, 0.15);

  /*  what's new   */
  --gpts-new-five-star-bg-color: #f0f5ff;

  /*  chat page  */
  --gpts-chat-page-bg-color: #fafafa;
  --gpts-chat-page-bg-elps-1-op: 0.4;
  --gpts-chat-page-bg-elps-2-op: 0.4;
  --gpts-chat-page-bg-elps-3-op: 0.2;
  --gpts-chat-page-bg-elps-4-bg-color: var(--gpts-chat-page-bg-color);

  --gpts-chat-page-main-border: 1px solid transparent;
  --gpts-chat-ai-bubble-bg-color: #f8f8f8;
  --gpts-chat-user-bubble-color: rgba(var(--gpts-bg-rgb), 0.9);
  --gpts-chat-primary-color: #8a57ea;
  --gpts-chat-error-color: #f44336;
  --gpts-chat-wel-bg-color: rgba(138, 87, 234, 0.05);
  --gpts-chat-new-btn-bg-color: #ede7f6;
  --gpts-chat-send-btn-hover-color: #b083f7;
  --gpts-chat-ai-bubble-sup-bg-color: rgb(139 87 234 / 23%);

  --gpts-dropdown-item-hover-bg-color: rgba(0, 0, 0, 0.04);
  --gpts-dropdown-item-selected-color: #e6f4ff;
  --gpts-dropdown-item-selected-hover-bg-color: #bae0ff;

  --gpts-chatgpt-msg-block-bg-color: #f1f1f1;
  --gpts-chatgpt-msg-block-running-bg-color: rgb(220, 252, 231);
  --gpts-chatgpt-msg-block-hover-bg-color: #e7e7e9;

  /*  compose page   */
  --gpts-compose-opts-bg-color: #f8f7f8;
  --gpts-compose-opts-btn-bg-color: white;
  --gpts-compose-check-group-item-color: rgba(var(--gpts-fg-rgb), 0.6);

  /* web enchance */
  --gpts-enchance-bg-color: #fff;

  /*  general   */
  --gpts-fg-rgb: 0, 0, 0;
  --gpts-bg-rgb: 255, 255, 255;
}

html[data-gpts-theme='dark'],
:host([data-gpts-theme='dark']) {
  /*  option page   */
  --gpts-primary-color: rgb(55, 113, 224);
  --gpts-primary-text-color: rgba(var(--gpts-fg-rgb), 0.65);
  --gpts-secondary-text-color: rgba(255, 255, 255, 0.45);
  --gpts-html-bg-color: black;
  --gpts-option-box-bg-color: #1d1d1d;
  --gpts-option-card-bg-color: #141414;
  --gpts-option-card-border: 1px solid #303030;
  --gpts-option-template-group-header-bg-color: var(--gpts-option-box-bg-color);
  --gpts-option-template-group-item-visible-bg-color: #242424;
  --gpts-option-template-group-item-invisible-bg-color: #1d1d1d;
  --gpts-attention-bg-color: #202020;
  --gpts-attention-title-color: #2b6e62;

  /*  sidebar   */
  --gpts-sidebar-bg-color: #171717;
  --gpts-sidebar-shadow: 0 0 0 1px #303030;
  --gpts-sidebar-footer-bg-color: #1f1f1f;
  --gpts-sidebar-border-color: #303030;
  --gpts-sidebar-footer-btn-bg-color: #424242;
  --gpts-sidebar-footer-btn-color: var(--gpts-primary-text-color);
  --gpts-sidebar-model-btn-bg-color: #1f1f1f;
  --gpts-sidebar-model-btn-color: rgba(var(--gpts-fg-rgb), 0.45);
  --gpts-sidebar-model-btn-hover-bg-color: #353535;
  --gpts-sidebar-modal-btn-bg-color: #141414;
  --gpts-sidebar-icon-bg-color: #1d1b36;
  --gpts-sidebar-icon-hover-bg-color: #1c489b;
  --gpts-sidebar-icon-border-color: #373638;
  --gpts-sidebar-scrollbar-color: #363636;
  --gpts-sidebar-scrollbar-hover-color: #2e2e2e;
  --gpts-paste-btn-bg-color: var(--gpts-sidebar-model-btn-bg-color);
  --gpts-paste-btn-color: white;
  --gpts-option-dorpbox-bg-color: var(--gpts-html-bg-color);
  --gpts-tab-switch-color: rgba(255, 255, 255, 0.4);
  --gpts-tab-switch-indicator-ask-bg-color: #1f3051;
  --gpts-tab-switch-indicator-chat-bg-color: #372854;
  --gpts-sidebar-vip-card-bg-color: #1f1f1f; 

  /* search   */
  --gpts-search-bg-color: black;
  --gpts-search-border-color: #3c4043;
  --gpts-list-answer-color: #9aa0a6;

  /* markdown   */
  --gpts-markdown-code-btn-bg-color: #21262d;
  --gpts-markdown-code-btn-border-color: rgba(240, 246, 252, 0.1);
  --gpts-markdown-code-btn-hover-bg-color: #30363d;
  --gpts-markdown-code-btn-hover-border-color: #8b949e;

  /* what's new   */
  --gpts-new-five-star-bg-color: rgba(240, 245, 255, 0.09);

  /*  chat page  */
  --gpts-chat-page-bg-color: black;
  --gpts-chat-page-bg-elps-1-op: 0.3;
  --gpts-chat-page-bg-elps-2-op: 0.6;
  --gpts-chat-page-bg-elps-3-op: 0.6;
  --gpts-chat-page-bg-elps-4-bg-color: #000;

  --gpts-chat-page-main-border: 1px solid var(--gpts-sidebar-border-color);
  --gpts-chat-ai-bubble-bg-color: #1d1d1d;
  --gpts-chat-user-bubble-color: rgba(var(--gpts-fg-rgb), 0.9);
  --gpts-chat-primary-color: #784dca;
  --gpts-chat-error-color: #f44336;
  --gpts-chat-wel-bg-color: #251f36;
  --gpts-chat-new-btn-bg-color: #372854;
  --gpts-chat-send-btn-hover-color: #a078e0;
  --gpts-chat-ai-bubble-sup-bg-color: rgb(139 87 234 / 23%);

  --gpts-dropdown-item-hover-bg-color: rgba(255, 255, 255, 0.08);
  --gpts-dropdown-item-selected-color: #1c1729;
  --gpts-dropdown-item-selected-hover-bg-color: #291f40;

  --gpts-chatgpt-msg-block-bg-color: rgba(0, 0, 0, 0.45);
  --gpts-chatgpt-msg-block-running-bg-color: rgba(220, 252, 231, 0.2);
  --gpts-chatgpt-msg-block-hover-bg-color: black;

  /*  compose page   */
  --gpts-compose-opts-bg-color: rgba(var(--gpts-fg-rgb), 0.1);
  --gpts-compose-opts-btn-bg-color: #424242;

  /* web enchance */
  --gpts-enchance-bg-color: #000;

  /*  general   */
  --gpts-fg-rgb: 255, 255, 255;
  --gpts-bg-rgb: 0, 0, 0;
}
